<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

</head>

<section style="background-color: rgba(245, 245, 220, 0.089);">
    <h3>Sobre nosotros</h3>
    <h2> Este es un proyecto universitario de la Universidad Autonoma de Aguascalientes</h2>
    <h2>Realizado por:</h2>
    <h3>Donovan Jose Jerez Ceja</h3>
    <h3>David Miguel esparza Segovia</h3>
    <h3>Fernanda Fabiola Delgado Ramirez</h3>
</section><br>